<!-- app/views/messages/index.html.erbのrender "side_bar" -->
<div class="side-header">
  <div class="header-name">
    <%= link_to "#{current_user.name}", edit_user_path(current_user) %>
  </div>
  <div class="side-link">
    <%= link_to 'チャット作成する', new_room_path %>
  </div>
</div>

<div class="room">
<!-- コントローラーで取得して渡す方法もあるが、結果はcurrent_userと同じなのでこっちの書き方の方が良いと思う -->
  <% current_user.rooms.each do |room| %>
    <div class="room-name">
      <a href="#"><%= room.name %></a>
    </div>
  <% end %>
</div>