<!-- app/views/messages/index.html.erbのrender "side_bar" -->
<div class="side-header">
  <div class="header-name">
    <%= link_to "#{current_user.name}", edit_user_path(current_user) %>
  </div>
  <div class="side-link">
    <a href=#>チャット作成する</a>
  </div>
</div>

<div class="room">
  <div class="room-name">
    <a href="#">sakura room</a>
  </div>
  <div class="room-name">
    <a href="#">haruka room</a>
  </div>
</div>